In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv('tot_data_plus_result.csv')

df.index = np.arange(1, 37701)
df = df.drop(['Unnamed: 0'], axis=1)
df

,1,2,3,4,5,6,7,8,9,10,...,217,218,219,220,221,222,223,224,225,result
1,0,0,0,0,0,0,0,0,38,0,...,0,0,0,0,0,0,0,0,0,0.5
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
5,0,0,0,0,0,0,0,0,0,0,...,0,51,52,54,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37696,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
37697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
37698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
37699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
37700,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.5

In [11]:
black = len(df[df['result'] == 1])
white = len(df[df['result'] == 0])
unknown = len(df[df['result'] == 0.5])

print(black)
print(white)
print(unknown)

17954
16712
3034

In [9]:
df[df['result'] == 1]

,1,2,3,4,5,6,7,8,9,10,...,217,218,219,220,221,222,223,224,225,result
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
37693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
37695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
37697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
37698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0